@font-face {
    font-family: 'Roboto';
    font-weight: normal;
    src: url(./Roboto/Roboto-Regular.ttf);
}
.main{
    background: #EEEFF1;
}
.container{
width: 1200px;
margin: 0 auto;
height: auto;
}
.menu{
padding-top: 20px;
font-family: Roboto;
font-size: 16px;
font-weight: 500;
line-height: 164.063%;
letter-spacing: 1.6px;
text-transform: uppercase;
}

.nav{
display: inline-block;
margin-right: 42px;
}
.anav {
text-decoration: none;
color: #34547A;}

.h2banner{
padding-top: 100px;
padding-bottom: 60px;
color: black;
font-family: Roboto;
font-size: 48px;
font-style: bold;
font-weight: 500;
}
.parbanner{
width: 800px;
color: #727272;
margin-bottom: 65px;
font-family: Roboto;
font-size: 16px;
font-weight: 400;
line-height: 164.063%;
}
.btnbanner{
width: 225px;
height: 65px;
background: #34547A;
color: #FFF;
text-align: center;
font-family: Roboto;
font-size: 16px;
font-weight: 400;
line-height: 164.063%;
letter-spacing: 1.6px;
margin-bottom: 140px;
text-transform: uppercase;
}
.middle{
margin: 0 auto;
background: #F9F9F9;
height: auto;
padding-top: 112px;
padding-bottom: 80px;
}
.h3middle{
text-align: center;
color: #000;
font-family: Roboto;
font-size: 32px;
font-style: normal;
font-weight: 500;
padding-bottom: 40px;
}
.pmiddle{
    text-align: center;
color: #727272;
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 164.063%;
}
.cardsbanner{
background: var(--Accent, #34547A);
padding-top: 100px;
padding-bottom: 100px;
margin: 0 auto;
text-align: center;

}

.card{
    padding-top: 5px;
    padding-bottom: 5px;
    width: 110px;
    height: auto;
    display: inline-block;

}
.cardimage{
width: 50px;
height: 50px;
float: left;
margin-right: 10px;

}
.cardtsext{
float: right;
width: 50px;

}
.catdtitle{
padding-top: 5px;
padding-bottom: 10px;
color: #FFF;
font-family: Roboto;
font-size: 18px;
font-weight: 500;
text-align: left;

}
.carddescr{
color: #FFF;
font-family: Roboto;
font-size: 12px;
font-weight: 400;
text-align: left;
}
.videoblock{
    text-align: center;
    margin: 0 auto;

}
.videoblockcontent{
    margin: 0 auto;  
    padding-top: 100px;
padding-bottom: 100px;
height: auto;

}
.h2video{
   color: #000;
   
    margin-top: 100px;
    margin-bottom: 50px;
font-family: Roboto;
font-size: 32px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.parvideo{
   width: 800px;
    margin: 0 auto;
    margin-bottom: 20px;

}
.pvideo{
color: #727272;
text-align: center;
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 164.063%;
}
.videoframe {
    margin: 0 auto;
    width: 800px;
    height: 400px;
    margin: 50px auto 50px auto;
}
footer{
    background: var(--Accent, #34547A);
}
.footercontent{
   padding-top: 50px;
    padding-bottom: 50px;
    margin: 0 auto;
}
.pfooter{
    color: #FFF;
   font-family: Roboto;
    font-size: 21px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.p2footer{
    color: #FFF;
    font-family: Roboto;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 164.063%;
}