@font-face {
    font-family: "myFirstFont";
    src: url(../Open_Sans/OpenSans-Italic-VariableFont_wdth\,wght.ttf);
}
@font-face {
    font-family: "myFirstFont";
    src: url(../Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf);
}