@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
body{
    font-family: "Roboto";
    font-weight: 400;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}
.top-header-links{
    background-color: #efefef;
}
.list-top-links{
    display: flex;
    justify-content: center;
}
.list-top-item{
    margin-left: 15px;
}

.top-link{
    color: #333;
    display: block;
    padding: 15px;
}
.top-link:hover{
    background-color: #8f8f8f;
    border-radius: 20px;
}
.center-section{
    padding: 20px 0;
    border-bottom: 1px solid #EFEFEF;
}
.logo-name{
    text-transform: uppercase;
    color: var(--Accent, #F13C6E);
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 3.6px;

}
.img-logo{
    margin-right: 20px;
}
.logo-wrapper{
    display: flex;
    align-items: center;
}
.call-back{
    border: 1px solid #F13C6E;
    border-radius: 20px;
    padding: 12px 25px;
    background-color: #fff;
    margin-left: 40px;

}
.center-section-container{
    display: flex;
   padding: 20px 0;
   justify-content: space-between;
   align-items: center;


}
.nav-menu{
    background-color: #fff;
}
.nav-menu-hr{
    height: 1px;
    color: #333;
}

.nav-menu-links{
    display: flex;
    justify-content: center;
    padding: 10px 0;
}
.list-menu-item{
    margin-left: 15px;
}
.menu-link{
    color: #333;
    display: block;
    padding: 30px 20px;
}
.menu-link:hover{
    background-color: #F13C6E;
    border-radius: 20px;
}
.slider-wrapper{
    
    background-color: #F13C6E;
}
.slider-wrapper-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url(../images/bag-img);
    background-repeat: no-repeat;
    padding-top: 200px;
    padding-bottom: 200px;
    background-position: right;
}

.slider-wrapper-title{
color: #FFF;
font-family: Roboto;
font-size: 48px;
font-weight: 700;
margin-bottom: 50px;
}
.slider-wrapper-text{
    color: #FFF;
font-family: Roboto;
font-size: 14px;
font-weight: 400;
line-height: 20px;
margin-bottom: 20px;
letter-spacing: 1px;
}
.slider-wrapper-more{
border-radius: 40px;
padding: 12px 40px;
border: 2px solid #FFF;
background: #d8c8c800;
color: #FFF;
text-align: center;
font-family: Roboto;
font-size: 14px;
font-weight: 400;
letter-spacing: 0.7px;

}
.slider-wrapper-more:hover{
background-color: white;
color: #F13C6E;
cursor: pointer;
}
.special-offers-wrapper{
padding: 40px 0;
background: var(--Gray, #EFEFEF);
}
.special-offer-title{
    color: #000;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 40px;
}
.special-offers-item{
    background-color: white;
    height: auto;
    text-align: center;
    padding: 20px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.special-offers-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    
}
.special-offers-item-img{
    margin: 0 35px;
}
.special-offers-item-text{
    color: #333;
font-size: 14px;
font-weight: 400;
line-height: 140%;
margin: 20px 0;
}
.special-offers-item-price{
    color: #000;
text-align: center;
font-family: Roboto;
font-size: 21px;
font-weight: 500;
letter-spacing: 1.05px;
margin-left: 55px;
margin-right: 55px;
}
.special-offers-item-buy{   
margin-top: 25px;
padding: 10px 50px ;
border-radius: 30px;
background: var(--Accent, #F13C6E);
color: #FFF;
text-align: center;
font-size: 14px;
font-weight: 400;
letter-spacing: 0.7px;
}
.special-offers-item-buy:hover{
    background-color: #FFF;
    color: #F13C6E;
    cursor: pointer;
    border: #F13C6E;
    border-style: double;
}
.information-block-wrapper{
    background: var(--Gray, #EFEFEF);
    padding: 40px 0;
}
.information-blocks{
display: flex;
justify-content: space-between;
}

.information-block{
    background: var(--Accent, #F13C6E);
    height: auto;
    padding: 35px 35px 35px 40px;
    display: flex;
    align-items: center;
}

.information-block-title{
margin: 25px 0;
color: white;
font-size: 18px;
font-weight: 700;
}
.information-block-text{
    margin: 25px 0;
color: white;
font-size: 14px;
line-height: 140.625%;
}
.email-field{
    padding-left: 25px;
    padding-top: 10px;
    padding-bottom: 10px;

border-radius: 30px;
background: #FFF;
color: #C4C4C4;
font-size: 14px;
}
.email-field:hover{
    cursor: pointer;
    border: #F13C6E;
    border-style: double;
}
.right-side-block-img{
    padding: 0 28.5px;
    margin-left: 40px;
    
}
.right-side-block-img-2{
    padding: 20px 0;
    margin-left: 40px;
}
.store-map-button{
padding: 8px 50px;
border-radius: 30px;
border: 2px solid #FFF;
background: var(--Accent, #F13C6E);
color: #FFF;
text-align: center;
font-size: 14px;
}
.store-map-button:hover{
    background: white;
    border: 2px double #F13C6E;
    cursor: pointer;
    color: #F13C6E;
}
.partners-wrapper{
    background-color: #EFEFEF;

}
.partners-list{
display: flex;
   flex-wrap: wrap;
   justify-content: center;
   row-gap: 1px;
   column-gap: 1px;


}
.partners-item{
    padding: 35px 75px;
   text-align: center;
   background-color: white;
   cursor: pointer;
}
.partner-logo{
    text-align: center;

}
footer{
    height: auto;
    border-bottom: 2px solid #EFEFEF;
}
.footer-menu-blocks{

    display: flex;
    justify-content: space-between;
    padding: 60px 0;

}
.footer-menu-block{
    flex-grow: 1;
    margin-right: 30px;
    height: auto;
}
.footer-menu-block-title{
    color: #000;
font-size: 16px;
font-weight: 500;
line-height: 140.625%;
margin-bottom: 30px;
border-bottom: 2px solid #EFEFEF;
padding-bottom: 25px;
}
.footer-menu-block-list{
    margin-top: 25px;
}
.footer-menu-block-item{
color: var(--828282, #828282);
font-size: 12px;
font-weight: 400;
line-height: 28px;
}
.footer-menu-block-item:hover{
    cursor: pointer;

}
.footer-socilmedia-block{
    padding: 40px 0;
    display: flex;
    justify-content: space-between;
}
.socil-media-block{
    display: flex;
}
.icon-link{
    margin-right: 15px;
    border: 2px solid #F13C6E;
    border-radius: 100px;
    width: 44px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon:hover{
    cursor: pointer;

}
.call-back:hover{
    background-color: #F13C6E;
    color: white;
    cursor: pointer;
}
.link-footer-menu{
   text-decoration: none;
   color:#828282;

}
.link-footer-menu:hover{
    color: #000;
}
.footer-wrapper-more {
    background-color:#EFEFEF ;
}
.footer-additional {
    padding: 25px 0 ;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-additional-copy {
    font-size: 12px;
    color: #828282 ;
}
.footer-additional-link {
    font-size: 12px;
    color: #828282 ;
}
@media screen and (min-width: 320px)and (max-width: 1200px) {
    .container{
        padding: 0 15px;
    }
    .slider-description{
        margin-left: 20px;
    }
}
@media screen and (min-width: 200px)and (max-width: 550px) {
   
    .list-top-links{
    flex-direction: column;
    align-items: center; 
}
.center-section-container{
    flex-direction: column;
    align-items: center; 
     gap: 10px;
}

.menu-link{
padding: 10px 5px;
}
.special-offers-list{
    display: grid;
    gap: 10px;
}
.footer-menu-blocks{
    flex-wrap: wrap;
    margin: 0 10px;
}
  .footer-socilmedia-block{
    display: block;
    text-align: center;
  }
  .socil-media-block{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
  }
  .footer-menu-block-title{
    margin-top: 15px;
  }
  .footer-additional{
    display: block;
  }
  .footer-additional-copy{
    margin-bottom: 10px;
  }
  .email-field{
    padding: 5px;
    width: auto;
  }
  
  .right-side-block-img  {
    margin-left: 0;
  }
  .right-side-block-img-2  {
    margin-left: 0;
  }
}
@media screen and (min-width: 320px)and (max-width: 1100px) {
   
    .container-chair-banner{
        padding: 0;
    }
    
.information-block {
    
    margin-bottom: 10px;
  }
  .slider-wrapper-container{
    background-position:center;
  }
}
  @media screen and (min-width: 550px)and (max-width: 1100px) {
    
    .right-side-block-img-2{
        margin-left: 47px;
    }

}
@media screen and (min-width: 1000px)and (max-width: 1366px) {
    .container{
        padding: 0 15px;
    }
    .container-chair-banner{
        padding: 0;
    }
    .slider-wrapper-container{
        padding-left: 100px;
    }
}
@media screen and (min-width: 200px)and (max-width: 660px) {
    .nav-menu-links{
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (min-width: 150px)and (max-width: 1100px) {
    .information-blocks{
        flex-direction: column;
        align-items: center; 
    }
    .information-block {
        flex-direction: column;
        text-align: center;
        margin-bottom: 10px;
      }
}

